.mainWindow {
    background-color: #002244;
}

#container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1;
    width: 100%;
    overflow: hidden;
    background-color: #002244;
    color: #69be28;
}

#container>#firstColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 60%;
    padding: 3%;
    margin: 0%;
    margin-top: 5%;
    min-width: 60%;
}

#container>#secondColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 35%;
    padding: 3%;
    margin: 0%;
    min-width: 35%;
}

.form-popup {
    display: none;
    position: fixed;
    z-index: 99006;
    bottom: 0px;
    right: 15px;
    border: 3px solid #69be28;
    background-color: #002244;
    color: #a5acaf;
    max-height: 75vh;
    overflow-y: scroll;
}

.form-popup p {
    font-size: 1.5rem;
}

.form-popup li {
    font-weight: bold;
    background-color: #002244;
    color: #a5acaf;
    font-size: 1.5rem;
    width: 50%;
}

.form-popup a {
    font-weight: bold;
    background-color: #002244;
    color: #a5acaf;
    font-size: 1.5rem;
}

.form-popup h3 {
    font-size: 2rem;
}